[Unit]
Description=uWSGI instance to serve ip2w

[Service]
ExecStart=/usr/bin/bash -c 'uwsgi --ini /usr/local/etc/ip2w.ini'

[Install]
WantedBy=multi-user.target
