[Unit]
Description=uWSGI instance to serve ip2w

[Service]
ExecStartPre=-/usr/bin/bash -c 'mkdir -p /run/uwsgi; chown root:nginx /run/uwsgi'
ExecStart=/usr/bin/bash -c 'uwsgi --ini /usr/local/etc/ip2w.ini'

[Install]
WantedBy=multi-user.target
